@using SeIsland.WebUI.Dtos.MealDtos
@model List<ResultMealWithCategory>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
	.meal_table {
		padding: 2rem 0;
		display: flex;
		justify-content: center;
		margin-top: 100px; /* Menüden aşağı başlasın */
	}

	.meal_table-inner {
		width: 100%;
		max-width: 900px;
	}

	.meal_table-image td,
	.meal_table-image th {
		vertical-align: middle;
		text-align: center;
	}

	.meal_table-image img {
		width: 100px;
		height: auto;
		border-radius: 8px;
	}
</style>

<div class="meal_table">
	<div class="meal_table-inner">
		<table class="table table-bordered table-hover meal_table-image">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Görsel</th>
					<th scope="col">Ürün Kategorisi</th>
					<th scope="col">Ürün Adı</th>
					<th scope="col">Fiyat (₺)</th>
					<th scope="col">Ürün Güncelle</th>
					<th scope="col">Sil</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.MealID</td>
						<td>
							<img src="@item.ImageUrl" alt="Meal Image" />
						</td>
						<td>@item.CategoryName</td>
						<td>@item.MealName</td>
						<td>@item.Price ₺</td>
						<td><a class="btn btn-primary" asp-action="UpdateMeal" asp-controller="Meal" asp-route-id="@item.MealID">Güncelle</a></td>
						<td><a class="btn btn-danger"  asp-action="DeleteMeal" asp-controller="Meal" asp-route-id="@item.MealID">Sil</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<a class="btn btn-primary btn-lg" asp-action="CreateMeal" asp-controller="Meal">Ürün Ekle</a>
